@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

html, body {
    overflow-y: auto !important;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #ecedef;
}

.word-break{
    word-wrap: break-word !important;
}
